apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: integration-service
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: integration-service
    app.kubernetes.io/part-of: integration-service
  name: integration-service
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: integration-service
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: integration-service
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/hongweiliu-tenant/integration-service/integration-service@sha256:5448154ee9e5cfed71a9793e16f40938b34e0013d6ce2beae79d2f759a8d5e86
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
